{% extends 'base.html.twig' %}

{% block title %}Les services{% endblock %}

{% block body %}
    <h2>Les Services</h2>

    <p>Message : {{ crypted }}</p>

    <p>Hash: {{ hash }}</p>

    <p>Sel: {{ salt }}</p>

{% endblock %}
